<!DOCTYPE html>
<html class="x-admin-sm">

    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script src="/static/js/jquery.min.js" charset="utf-8"></script>

        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="x-nav">

            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:left" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <div class="layui-card-body ">

                            <form class="layui-form layui-col-space5">
                                <button class="layui-btn layui-btn-sm"  type="button" id="create">新建</button >

                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select id="contrller" lay-filter="contrller" name="vip">
                                        <option value="-1">会员类型</option>

                                        <option value="0">普通会员</option>
                                        <option value="1">季度会员</option>
                                        <option value="2">半年会员</option>
                                        <option value="3">年度会员</option>
                                        <option value="4">永久会员</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select id="sort" name="sort" lay-filter="contrller">
                                        <option value="-1">排序方式</option>
                                        <option value="0">按注册升序</option>
                                        <option value="1">按注册降序</option>
                                        <option value="2">按登录升序</option>
                                        <option value="3">按登录降序</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  type="button" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>



                        <div class="layui-card-body ">


                            <table class="table  table-hover table-bordered" id="table" lay-filter="user">
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/html" id="toolbarDemo">
        <div class = "layui-btn-container" >
            <button class = "layui-btn layui-btn-sm" lay-event = "getCheckData" > 获取选中行数据 </button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button >
            <button class = "layui-btn layui-btn-sm" lay-event = "isAll" > 验证是否全选</button>
        </div >
    </script>
    <script type="text/html" id="toolbar">
        <div class = "layui-btn-container" >
            <button class = "layui-btn layui-btn-sm" lay-event = "getCheckData" >删除选中</button>
            <button class = "layui-btn layui-btn-sm" lay-event = "exp" >导出</button>
            <button class = "layui-btn layui-btn-sm" lay-event = "imp" id="imp">导入</button>
        </div >
    </script>
    <script type="text/html" id="user_bar">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="show_order">查看订单</button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>

    </script>
    <script type="text/html" id="imgtmp">
        <img src="{{d.avatar}}" style="width: 200px;width: 200px" onclick="show_img(this)">
    </script>

    <script>
        layui.use('laydate', function() {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

        });
    </script>
    <script  type="text/javascript" th:inline="none">
        layui.use(['table','form','upload'], function () {
            let table = layui.table;
            var form = layui.form

            table.render({
                elem: '#table'
                , url: '/user/page'
                , toolbar: '#toolbar'
                , title: '用户数据表'
                , totalRow: true
                , id: 'user'
                ,where: {
                    status: 0
                }
                , cols: [[
                    {type:'checkbox'},
                    {field: 'id', title: 'id'},
                    {field: 'username', title: '姓名'},
                    {field: 'pwd', title: '密码'},
                    {field: 'avatar', title: '头像',templet:'#imgtmp'},
                    {field: 'email', title: '邮箱'},
                    {field: 'vip', title: '会员等级', templet: function(d){
                            switch (d.vip){
                                case  0:{
                                    return "普通会员"
                                }
                                case  1:{
                                    return "季度会员"
                                }
                                case  2:{
                                    return "半年会员"
                                }
                                case  3:{
                                    return "年度会员"
                                }
                                case  4:{
                                    return "永久会员"
                                }
                            }
                    }},
                    {field: 'lastLoginTime', title: '上次登录时间'},
                    {field: 'regTime', title: '注册时间'},
                    {field: 'vieEndTime', title: 'VIP过期时间'},

                    {field: 'state', title: '状态', templet: function (d) {
                            var state = "";
                            if (d.state === 0) {
                                state = "<input type='checkbox' value='" + d.id + "' id='status' lay-filter='stat'  name='status'  lay-skin='switch' lay-text='冻结|正常' >";
                            }
                            else {
                                state = "<input type='checkbox' value='" + d.id + "' id='status' lay-filter='stat'  checked='checked' name='status'  lay-skin='switch' lay-text='冻结|正常' >";
                            }
                            return state;
                        }},
                    {field: 'deviceId', title: '设备id'},
                    {fixed: 'right', title: '操作',  toolbar: '#user_bar'},
                ]]
                , page: true
                , response: {
                    statusCode: 1 //重新规定成功的状态码为 200，table 组件默认为 0
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
            form.on('switch(stat)', function (data) {
                var contexts;
                var sta;
                var x = data.elem.checked;//判断开关状态
                if (x==true) {
                    sta=1;
                } else {
                    sta=0;
                }
                $.post('/user/update_state/'+data.value,  res => {
                    if (res.code === 1) {
                        layer.msg(res.message, {icon: 6, time: 1500}, () => {

                        })
                    } else {
                        layer.msg(res.message, {icon: 5, time: 1500})
                    }
                })
            });

            form.on('submit(sreach)', function (data) {
                table.reload('user', {
                    page: {
                        curr: 1
                    },
                    url: '/user/page'
                    , where: data.field
                });
                console.log(data.field)
            });



            table.on('toolbar(user)', function(obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;

                        var array=[]
                        if(data.length > 0) {

                            for (var i in data) {
                                array.push(data[i].id)
                            }
                        }
                        dels(array.join(","))
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'exp':
                        window.open("/common/execl/exp/8")
                        break;
                };
            });

            var upload = layui.upload; //得到 upload 对象

            upload.render({
                elem: '#imp'
                ,url: '/common/execl/imp/8'
                ,done: function(res, index, upload){ //上传后的回调

                }
            })
            table.on('tool(user)', function (obj) {
                let data = obj.data;
                switch (obj.event) {
                    case 'delete': {
                        del(obj, data.id)
                        break
                    }
                    case 'show_order': {
                        xadmin.open(data.username+'的订单','/admin/user/order_list/'+data.id)
                        break
                    }
                    case 'edit': {
                        xadmin.open(data.username,'/admin/user/edit/'+data.id)
                        break
                    }

                }
            });
            $("#create").bind("click", function () {
                xadmin.open('添加用户','/admin/user/add')
            });





        })
        function del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.post('/user/del/'+id,  res => {
                    if (res.code === 1) {
                        layer.msg(res.message, {icon: 6, time: 1500}, () => {
                            obj.del();
                        })
                    } else {
                        layer.msg(res.message, {icon: 5, time: 1500})
                    }
                })
            });
        }


        function dels(id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.post('/user/dels', {id: id}, res => {
                    if (res.code === 1) {
                        layer.msg(res.message, {icon: 6, time: 1500}, () => {
                            location.reload();
                        })
                    } else {
                        layer.msg(res.message, {icon: 5, time: 1500})
                    }
                })
            });
        }


        function show_img(t) {
            layer.open({
                type: 1,
                title: '区域图片',
                skin: 'layui-layer-rim', //加上边框
                area: ['80%', '80%'], //宽高 t.width() t.height()
                shadeClose: true, //开启遮罩关闭
                end: function (index, layero) {
                    return false;
                },
                content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
            });
        }

    </script>


</html>